 /* SECTION 1 START (ridwan) */
 .container-section1 {
    width: 100%; 
    height: 100vh;  
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma,  Verdana, sans-serif ;
    background-color: rgb(255, 253, 146);
   
   }
   
   /* gambar section 1 START*/
   
   .box-img-s1 {
    position: relative;
    right: 10%;
    width: 50vw;
    height: 60%;
   }
   
   .resep-button-s1 {
       display: flex;
       justify-content: center;
       align-items: center;
   }
   
   .resep-button-s1 {
       position: absolute;
       top: 45%;
       left: 50%;
       transform: translate(-50%, -50%);
       z-index: 5;
   }
   
   .resep-button-s1 {
       width: 316px;
       height: 100px;
       background-color: #fff;
       border-radius: 50px;
   }
   
   .resep-text-s1 {
       text-align: center;
       font-size: 1.5em;
       font-weight: bold;
       color: rgb(110, 15, 60);
   }
   
   .center-img-s1 {
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       max-width: 280px;
       object-fit: contain;
       z-index: 4;
   }
   
   .top-right-img-s1 {
       position: absolute;
       top: 0;
       right: 25%;
       max-width: 150px;
       object-fit: contain;
       z-index: 2;
   
   }
   
   .left-img-s1 {
       position: absolute;
       top: 25%;
       left: 20%;  
       max-width: 200px;
       object-fit: contain;
   }
   
   .bottom-right-img-s1 {
       position: absolute;
       bottom: 0;
       right: 25%;
       max-width: 150px;
       object-fit: contain;
   }
   
   /* gambar section 1 END*/
   
   /* text section 1 START*/
   
   .container-text-s1 {   
    text-align: center;
    max-width: 30rem;
   }
   
   .container-text-s1>h1 {
       color: rgb(195, 25, 82);
       font-size: 4em;
       font-weight: bold;
       margin: 0;
   }
   
   .container-text-s1>p {
       color: rgb(195, 25, 82);
       font-size: 1.5em;
   }
   
   .container-text-s1>div {
       margin-top: 24px;
       text-decoration: none;
       background-color: #E60023;
       padding: 12px 16px;
       color: #fff;
       border-radius: 30px;
       font-weight: 600;
       margin-left: auto;
       margin-right: auto;
       width: 85px;
   }
  
   .container-text-s1 > div > a {
    color: #fff;
    text-decoration: none;
   }
   
   .container-text-s1>div:hover {
       background-color: #B60000;
   }
   /* text section1 END*/
   
   /* media queris section1 */
   @media (max-width: 1536px) {
       .resep-button-s1 {
           width: 300px;
           height: 90px;
       }
       .center-img-s1{
           max-width: 240px;
       }
       
   }
   
   /* xl */
   @media (max-width: 1280px) {
       .resep-button-s1 {
           width: 260px;
           height: 80px;
       }
       .resep-text-s1{
           font-size: 1.3em;
       }
       .center-img-s1{
           max-width: 220px;
       }
       .top-right-img-s1{
           max-width: 120px;
           top: 4%;
           right: 20%;
       }
       .left-img-s1{
           max-width: 170px;
           left: 15%;
       }
       .bottom-right-img-s1{
           max-width: 130px;
           right: 20%;
       }
       .container-text-s1{
           max-width: 27rem;
       }
       .container-text-s1>h1{
           font-size: 3.5em;
       }
       .container-text-s1>p{
           font-size: 1.3em;
       }
   }
   
   /* lg */
   @media (max-width: 1024px) {
       .resep-button-s1 {
           width: 245px;
           height: 70px;
       }
       .resep-text-s1{
           font-size: 1.2em;
       }
       .center-img-s1{
           max-width: 200px;
       }
       .top-right-img-s1{
           max-width: 105px;
           top: 10%;
           right: 20%;
       }
       .left-img-s1{
           max-width: 150px;
           left: 10%;
       }
       .bottom-right-img-s1{
           max-width: 110px;
           right: 20%;
           bottom: 7%;
       }
       .container-text-s1{
           max-width: 20rem;
       }
       .container-text-s1>h1{
           font-size: 3.5em;
       }
       .container-text-s1>p{
           font-size: 1.3em;
       }
   
   }
   
   /* md */
   @media (max-width: 768px) {
       .resep-button-s1 {
           width: 210px;
           height: 60px;
       }
       .resep-text-s1{
           font-size: 1em;
       }
       .center-img-s1{
           max-width: 170px;
       }
       .top-right-img-s1{
           max-width: 95px;
           top: 10%;
           right: 20%;
       }
       .left-img-s1{
           max-width: 110px;
           left: 10%;
       }
       .bottom-right-img-s1{
           max-width: 100px;
           right: 20%;
           bottom: 7%;
       }
       .container-text-s1{
           max-width: 15rem;
       }
       .container-text-s1>h1{
           font-size: 3em;
       }
       .container-text-s1>p{
           font-size: 1em;
       }
   }
   
   /* sm */
   @media (max-width: 640px) {
       .container-section1{
           flex-direction: column;
           gap: 40px;
       }
       .box-img-s1{
           right: 0;
           height: 30%;
       }
       .top-right-img-s1{
           max-width: 95px;
           top: 0;
           right: 0;
       }
       .left-img-s1{
           max-width: 110px;
           left: 0;
       }
       .bottom-right-img-s1{
           display: none;
       }
   }
   
   /* xs */
   @media (max-width: 475px) {
       .top-right-img-s1{
           display: none;
       }
       .left-img-s1{
           display: none;
       }
   }
   /* media queris section1 */
   
   /* SECTION 1 END (ridwan) */