/* NAVBAR */
header li, header a, header button {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: black;
  }
  
  header {
    display: flex;
    padding: 1px 2%;
    position: fixed;
    width: 100%;
    z-index: 1000;
    /* sebelumnya z index:1; dan diubah ke z-index:1000; agar navbar tidak bisa di timpa elemen lain */
    background: white;
  }
  
  /* NAVBAR LEFT */
  
  .nav-icon {
    cursor: pointer;
    margin-right: auto;
    color: red;
    font-size: 40px;
  }
  
  .navbar-left  {
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navlist-left {
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
  }
  
  .navlist-left a  {
    display: inline-block ;
    padding: 0px 20px;
  }
  
  .navlist-left a::after {
    content: '';
    height: 2px;
    width: 0;
    background: black;
    display: block;
    opacity: 0;
    transition: .4s;
  }
  
  
  .navlist-left a:hover::after {
    opacity: 1;
    width: 100%;
  }
  
  /* NAVBAR RIGHT */
  
  .navbar-right  {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navlist-right {
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    margin: 2rem;
  }
  
  .navlist-right a  {
    display: inline-block;
    padding: 0px 20px;
  }
  
  .navlist-right a::after {
    content: '';
    height: 2px;
    width: 0;
    background: black;
    display: block;
    opacity: 0;
    transition: .4s;
  }
  
  
  .navlist-right a:hover::after {
    opacity: 1;
    width: 100%;
  }
  
  button  {
    padding: 9px 25px;
    background-color: #D8D5D4;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: .5s;
  }
  
  button:hover  {
    background-color:  #b4b3b3 ;
  }
  
  .login {
    background-color: red;
    color: white;
    transition: .5s;
  }
  
  .login:hover  {
    background: rgb(192, 2, 2);
  }
  
  .menu-toggle {
    color: rgb(94, 94, 94);
    font-size: 24px;
    cursor: pointer;
    display: none;
  }
  /* navbar end */